/*
body {
  background-image: url("../images/sea2.jpg");
}
*/
.left,
.right {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper {
  border: 1px solid #000;
}

.tweet-sentence {
  margin: 50px;
  word-wrap: break-word;
  text-align: left;
  white-space: normal;
}

#topLine {
  background-color: black;
  margin-bottom: 20px;
  text-align: right;
}

.logout-btn {
  background-color: black;
  color: white;
}

#alert,
.logout-btn:hover {
  color: white;
}

#userName {
  color: white;
  font-size: 20px;
  display: inline;
  vertical-align: middle;
}

#tweetButton {
  margin-left : 60%;
}

#tweetList {
  background-color: #FFFFCC;
}

#tweetArea,
#tweetList,
#tweetViewArea {
  text-align: center;
}

#tweetViewArea {
  margin: 50px 20% 0 20%;
}

#readButton {
  margin: 50px 0 100px 0;
}

#alert,
.not-tweet {
  font-size: 20px;
}

.not-tweet {
  margin-top: 30px;
  color: #CCFF66;
}
