.tweet{display: inline;}

.left {
  padding-left: 30px;
  padding-right: 30px;
  float: left;
}

.right {
  float: right;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper{
  border: 1px solid #000;
  margin-right: 300px;
}