body {
  color: #fff;
  background-image: url("../images/sea2.jpg");
}

a:hover {
    color: #ffff00;
}

#container {
  margin: 100px 400px 100px 400px;
  padding: 50px 20px 50px 20px;
  text-align: center;
}

.address-label,
.pass-label,
.address-input,
.pass-input {
  font-size: 25px;
}

.pass-label {
  margin-left: 50px;
}

.address-input,
.pass-input {
  color: #000;
}

.login-btn {
  margin-top: 50px;
  padding: 10px 100px 10px 100px;
}

.regist {
  margin-top: 20px;
  font-size: 25px;
}

#alert {
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}
